streamlit==1.0.0
pillow==8.4.0
pytesseract==0.3.8
easyocr==1.4.1
opencv-python-headless==4.5.3.56
numpy==1.21.2
pandas
requests
langchain
chat
openai
rag
prompts
pdf2image
PyPDF2
langchain_openai
python-docx
functions
dotenv
docxlatex
fixed_function
python_version>=3.6
chromadb
nltk
docx2txt
docxlatex
pdfminer.six
loguru==0.5.3
typing
weaviate
python-dotenv





