numpy
pandas
requests
langchain
chat
openai
streamlit
rag
Pillow
prompts
pytesseract
pdf2image
PyPDF2
langchain_openai
python-docx
functions
dotenv
docxlatex
fixed_function
python_version>=3.6
chromadb
nltk
docx2txt
docxlatex
pdfminer.six
easyocr
opencv-python
loguru==0.5.3
typing
weaviate
python-dotenv





