langchain
streamlit
openai>=0.27.0
pytesseract
functions
pdfminer.six
python-docx
pdf2image
nltk
protobuf
requests
logging
constants
prompts
rag
Pillow
langchain_community
langchain_openai
PyPDF2
python-dotenv
docxlatex
docx2txt
pdf2image
